<template>
  <icon>
    <template #component>
      <svg
        t="1660655278337"
        class="icon"
        viewBox="0 0 1024 1024"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        p-id="902"
        width="32"
        height="32"
      >
        <path
          d="M504.238316 157.223228c-200.389719 0-362.836788 162.44707-362.836788 362.836788s162.44707 362.836788 362.836788 362.836788c200.389719 0 362.836788-162.448077 362.836788-362.836788S704.628035 157.223228 504.238316 157.223228zM504.238316 831.494926c-172.000764 0-311.43491-139.434146-311.43491-311.43491 0-172.000764 139.434146-311.43491 311.43491-311.43491s311.43491 139.434146 311.43491 311.43491C815.673226 692.06078 676.23908 831.494926 504.238316 831.494926z"
          p-id="903"
        ></path>
        <path
          d="M529.939256 101.236503c0 13.916807-11.2812 25.196999-25.196999 25.196999l-1.00788 0c-13.915799 0-25.196999-11.280193-25.196999-25.196999L478.537377 41.317031c0-13.915799 11.2812-25.196999 25.196999-25.196999l1.00788 0c13.915799 0 25.196999 11.2812 25.196999 25.196999L529.939256 101.236503z"
          p-id="904"
        ></path>
        <path
          d="M529.77094 998.803001c0 13.916807-11.2812 25.196999-25.196999 25.196999l-1.00788 0c-13.915799 0-25.196999-11.280193-25.196999-25.196999l0-59.919472c0-13.915799 11.2812-25.196999 25.196999-25.196999l1.00788 0c13.915799 0 25.196999 11.2812 25.196999 25.196999L529.77094 998.803001z"
          p-id="905"
        ></path>
        <path
          d="M226.234785 205.675041c9.84094 9.84094 9.839932 25.794672 0 35.633596l-0.712571 0.712571c-9.839932 9.839932-25.793664 9.84094-35.633596 0l-42.369258-42.369258c-9.84094-9.839932-9.839932-25.794672 0-35.633596l0.712571-0.712571c9.839932-9.839932 25.793664-9.839932 35.633596 0L226.234785 205.675041z"
          p-id="906"
        ></path>
        <path
          d="M860.790973 840.470097c9.84094 9.839932 9.84094 25.793664 0 35.633596l-0.712571 0.712571c-9.838924 9.838924-25.793664 9.839932-35.633596 0l-42.369258-42.370266c-9.839932-9.839932-9.839932-25.794672 0-35.633596l0.712571-0.712571c9.839932-9.839932 25.794672-9.839932 35.633596 0L860.790973 840.470097z"
          p-id="907"
        ></path>
        <path
          d="M85.330142 494.276431c13.916807 0 25.196999 11.2812 25.196999 25.196999l0.001008 1.00788c0 13.915799-11.2812 25.196999-25.198007 25.196999l-59.918464-0.001008c-13.917814 0.002016-25.196999-11.2812-25.196999-25.196999l0-1.00788c0-13.915799 11.280193-25.196999 25.196999-25.196999L85.330142 494.276431z"
          p-id="908"
        ></path>
        <path
          d="M982.897647 494.445755c13.915799 0 25.196999 11.280193 25.196999 25.196999l0 1.00788c0 13.913783-11.2812 25.196999-25.196999 25.196999L922.977167 545.847633c-13.915799 0-25.196999-11.2812-25.196999-25.196999l0-1.00788c0-13.915799 11.2812-25.196999 25.196999-25.196999L982.897647 494.445755z"
          p-id="909"
        ></path>
        <path
          d="M189.766664 797.981909c9.84094-9.84094 25.79568-9.838924 35.633596 0l0.714587 0.712571c9.838924 9.838924 9.838924 25.793664-0.002016 35.633596l-42.36825 42.36825c-9.84094 9.842956-25.793664 9.84094-35.633596 0l-0.712571-0.712571c-9.839932-9.839932-9.84094-25.793664 0-35.632588L189.766664 797.981909z"
          p-id="910"
        ></path>
        <path
          d="M824.562728 163.425721c9.839932-9.839932 25.793664-9.84094 35.633596 0l0.712571 0.712571c9.838924 9.838924 9.839932 25.793664-0.001008 35.633596l-42.370266 42.370266c-9.838924 9.839932-25.793664 9.838924-35.632588 0l-0.712571-0.712571c-9.839932-9.839932-9.839932-25.793664-0.001008-35.633596L824.562728 163.425721z"
          p-id="911"
        ></path>
      </svg>
    </template>
  </icon>
</template>

<script setup lang="ts">
import Icon from "@ant-design/icons-vue";
</script>

<style lang="less"></style>
