<template>
  <icon>
    <template #component>
      <svg t="1661495328101" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2784" width="16" height="16"><path d="M511.2 127.2c176.8 0 320 143.2 320 320 0 149.6-106.4 281.6-252 312.8l-28 5.6-14.4 24.8-24.8 42.4-24-42.4-14.4-24.8-28-5.6c-147.2-30.4-254.4-162.4-254.4-313.6 0-176 143.2-319.2 320-319.2m0-64c-212 0-384 172-384 384 0 184.8 131.2 340 305.6 376l80 138.4 80-138.4C765.6 785.6 895.2 632 895.2 448c0-212.8-172-384.8-384-384.8zM320 384c-35.2 0-64 28.8-64 64s28.8 64 64 64 64-28.8 64-64-28.8-64-64-64z m192 0c-35.2 0-64 28.8-64 64s28.8 64 64 64 64-28.8 64-64-28.8-64-64-64z m192 0c-35.2 0-64 28.8-64 64s28.8 64 64 64 64-28.8 64-64-28.8-64-64-64z" p-id="2785"></path></svg>
    </template>
  </icon>
</template>

<script setup lang="ts">
import Icon from "@ant-design/icons-vue";
</script>

<style lang="less">
.icon {
  color: #dfe0e1;
}
</style>
