
<template>
  <div class="Allkonwledge container">
    <div class="left_box">
      <dl
        v-for="(item, index) in knowledgeList"
        :key="index"
        class="konwledgeDl"
        @click="konwledgeDetail(item)"
      >
        <dd class="konwledgeDd">
          <h4>
            {{ item.title
             }}
            <span>{{ _time(item.updateAt) }}</span>
          </h4>
        </dd>
        <dt class="konwledgeDt">
          <div class="img">
            <img v-if="item.cover" :src="item?.cover" alt="" />
          </div>
          <div class="word">
            <p>{{ item.summary }}</p>
            <div style="margin-top: 40px">
              <span @click.stop="konwledgeDetail(item)">
                <ears-icon />{{ item.views }} </span
              >&nbsp;·&nbsp;
              <span @click.stop="share(item)"> <share-icon />分享 </span>
            </div>
          </div>
        </dt>
      </dl>
    </div>
    <div class="right_Box">
      <base-list title="推荐阅读" :request="store.getReadList" class="bb">
        <template #item="{ data }">
          {{ data.title }} ·
          {{ _time(data.updateAt) }}
        </template>
      </base-list>
      <base-list title="文章分类" :request="store.getArticleTypeList">
        <template #item="{ data }">
          {{ data.label }}<span>共计{{ data.articleCount }}篇文章</span>
        </template>
      </base-list>
    </div>
  </div>
</template>

<script setup lang="ts">
import useStore from "../../stores"
import { ref, onMounted, reactive } from "vue"
import { storeToRefs } from "pinia"
// import moment from "moment"
import { useRouter } from "vue-router"
// import QrcodeVue from "qrcode.vue"
import useFormatTime from "@/utils/useFormatTime"
const { _time } = useFormatTime()

const store = useStore()
const router = useRouter()
const { knowledgeList, knowledgeTypeList }: any = storeToRefs(store)
console.log(knowledgeList, knowledgeTypeList);

const loading = ref<boolean>(false)
const visible = ref<boolean>(false)
const value = ref<string>("https://example.com")
const size = ref<number>(100)
const itemData = ref()
const modalList = reactive({
  arr: [],
})

const showModal = () => {
  visible.value = true
}

const handleOk = () => {
  loading.value = true
  setTimeout(() => {
    loading.value = false
    visible.value = false
  }, 2000)
}

const handleCancel = () => {
  visible.value = false
}

//点击分享
const share = (item: any) => {
  visible.value = true
  console.log(item, "item")
  modalList.arr = item
}
//点击dl跳详情
const konwledgeDetail = (item:any) => {
  // console.log(item.id,"跳转id");
  
  router.push({
    path:'/detail2/'+item.id,
    query:item
  })
}
const getItem = (item: any) => {
  itemData.value = item
  store.itemData = item
}

const init = () => {
  store.getNavKnowledge()
}
onMounted(() => {
  init()
})
</script>

<style lang="less" scoped>
.konwledge {
  margin-top: 20px;
  
}
.konwledgeDl {
  width: 100%;
  height: 150px;
  border-bottom: 1px solid var(--border-color);
  background: var(--bg-color);
  .konwledgeDt {
    margin-left: 20px;
    display: flex;
    img {
      width: 150px;
      height: 100px;
    }
    .word {
      padding: 10px;
      color: var(--font-ArticalItem-color);
      span {
        padding: 0px 10px 0 0;
        color: var(--font-ArticalItem-color);
      }
    }
  }
  .konwledgeDd {
    margin-left: 20px;
    margin: 10px 20px;
    h4 {
      color: var(--font-ArticalItem-color);
      span {
        display: inline-block;
        margin-left: 20px;
        color: var(--font-ArticalItem-color);
      }
    }
  }
}
.qrcode {
  display: flex;
  align-items: center;
}
.shareQrcode {
  margin-left: 20px;
  p > span {
    color: rgb(224, 64, 211);
  }
}
.bb {
  background: var(--bg-color);
}

.spanItem {
  display: flex;
  flex-direction: column;
  .articleType {
    margin-top: 10px;
    color: #000;
    .articleNum {
      float: right;
    }
  }
}
.onTop1 {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  border: 1px solid #000;
  text-align: center;
  background: var(--bg-color);

  span {
    font-size: 30px;
    color: pink;
  }
}
.commend {
  margin-top: 20px;
}
</style>
