<template>
    <a-card :title="title">
        <p v-for="val in lists.list" :key="val[rowKey]" @click="readDetail(val)">
            <slot name="item" :data="val" />
        </p>
    </a-card>
</template>

<script setup lang="ts">
import { defineProps, onMounted, reactive } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter();

const readDetail = (item: any) => {
    router.push('/articalDetail/' + item.id)
}
const lists = reactive({
  list: [],
});
const props = defineProps({
  title: {
    type: String,
    default: "标题",
  },
  rowKey: {
    type: String,
    default: "id",
  },
  request: Function,
});
const init = async () => {
  lists.list =
    props.request &&
    typeof props.request === "function" &&
    (await props.request());
    
};
onMounted(() => {
  init();
});
</script>
<style lang="less" scoped>
.baselist {
  background: var(--bg-Base-color);
}
</style>
