<template>
  <a-comment v-for="val in listData" :key="val.id">
    <template #actions>
      <span key="comment-basic-reply-to" @click="handleShowEditor(val)"
        >回复</span
      >
      <editor v-show="val.showEditor" :isToggleOpen="true" :commentData="val" />
    </template>
    <template #author>{{ val.name }}</template>
    <template #avatar>
      <a-avatar>{{ val.name }}</a-avatar>
    </template>
    <template #content>
      <p>
        {{ val.content }}
      </p>
    </template>
    <commet-list v-if="val.children?.length" :listData="val.children" />
    <template #datetime>
      <a-tooltip :title="'11'">
        <span>时间</span>
      </a-tooltip>
    </template>
  </a-comment>
</template>
<script setup lang="ts">
import { defineProps, ref, inject } from "vue"
import editor from "./editor.vue"
const name = "comment-list"
const props = defineProps({
  listData: {
    type: Array,
  },
})
const toggleEditor: any = inject("toggleEditor")
const handleShowEditor = (val: any) => {
  toggleEditor(val)
}
</script>
<style lang="less"></style>
