<template>
  <div class="comment-editor">
    <a-textarea class="text" 
      :disabled="!textDisabled" 
      :placeholder="placeholder" 
      v-model:value="text"> 
    </a-textarea>
    <div class="editor-action">
      <a-popover trigger="click" placement="bottom">
        <template #content>
          <ul v-html="emjo" class="emjo-wrapper" @click="handleEmjo"></ul>
        </template>
        <a-button type="text"
          ><template #icon><frown-outlined /></template>表情</a-button
        >
      </a-popover>
      <div>
        <a-button v-if="isToggleOpen" @click="handleToggleEditor"
          >收起</a-button
        >
        <a-button :disabled="disabled" @click="handleAddComment">发布</a-button>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import { FrownOutlined } from "@ant-design/icons-vue"
import useUser from "@/utils/useUser"
import { useRoute } from "vue-router"
import { defineProps, inject, ref, computed, watch } from "vue"
const emjo = `<li>😀</li><li>😃</li><li>😄</li><li>😁</li><li>😆</li><li>😆</li><li>😅</li><li>😂</li><li>😉</li><li>😊</li><li>😇</li><li>😍</li><li>😘</li><li>😗</li><li>😚</li><li>😙</li><li>😋</li><li>😛</li><li>😜</li><li>😝</li><li>😐</li><li>😑</li><li>😶</li><li>😏</li><li>😒</li><li>😌</li><li>😔</li><li>😪</li><li>😴</li><li>😷</li><li>😵</li><li>😎</li><li>😕</li><li>😟</li><li>😮</li><li>😯</li><li>😲</li><li>😳</li><li>😦</li><li>😧</li><li>😨</li><li>😰</li><li>😥</li><li>😢</li><li>😭</li><li>😱</li><li>😖</li><li>😣</li><li>😞</li><li>😓</li><li>😩</li><li>😫</li><li>😡</li><li>😡</li><li>😠</li><li>😈</li><li>😺</li><li>😸</li><li>😹</li><li>😻</li><li>😼</li><li>😽</li><li>🙀</li><li>😿</li><li>😾</li><li>❤️</li><li>✋</li><li>✋</li><li>✌️</li><li>☝️</li><li>✊</li><li>✊</li><li>🐵</li><li>🐱</li><li>🐮</li><li>🐭</li><li>☕</li><li>♨️</li><li>⚓</li><li>✈️</li><li>⌛</li><li>⌚</li><li>☀️</li><li>⭐</li><li>☁️</li><li>☔</li><li>⚡</li><li>❄️</li><li>✨</li><li>🃏</li><li>🀄</li><li>☎️</li><li>☎️</li><li>✉️</li><li>✏️</li><li>✒️</li><li>✂️</li><li>♿</li><li>⚠️</li><li>♈</li><li>♉</li><li>♊</li><li>♋</li><li>♌</li><li>♍</li><li>♎</li><li>♏</li><li>♐</li><li>♑</li><li>♒</li><li>♓</li><li>✖️</li><li>➕</li><li>➖</li><li>➗</li><li>‼️</li><li>⁉️</li><li>❓</li><li>❔</li><li>❕</li><li>❗</li><li>❗</li><li>〰️</li><li>♻️</li><li>✅</li><li>☑️</li><li>✔️</li><li>❌</li><li>❎</li><li>➰</li><li>➿</li><li>〽️</li><li>✳️</li><li>✴️</li><li>❇️</li><li>©️</li><li>®️</li><li>™️</li><li>ℹ️</li><li>Ⓜ️</li><li>⚫</li><li>⚪</li><li>⬛</li><li>⬜</li><li>◼️</li><li>◻️</li><li>◾</li><li>◽</li><li>▪️</li><li>▫️</li>`
const props = defineProps({
  isToggleOpen: {
    type: Boolean,
    default: true,
  },
  commentData: {
    type: Object,
  },
})
const disabled = ref(true)
const id = inject('id')
const text = ref('')
const $route = useRoute()
const { islogin, email, name } = useUser()
const textDisabled = ref(islogin)
const placeholder = computed(() => {
  if(props.commentData){
    return `回复${props.commentData?.name}`
  }
  return '请输入评论内容（支持 Markdown）'
})
watch(text, (val) => {
  if(val.length){
    disabled.value = false
  }
}, {
  deep: true
})
const toggleEditor: any = inject("toggleEditor")
const sendComment: any = inject("sendComment")

const handleEmjo = (e) => {
  if(e.target.nodeName === 'LI'){
    text.value = text.value + e.target.innerHTML
  }
}
const handleToggleEditor = () => {
  toggleEditor(props.commentData)
}
const handleAddComment = () => {
  // console.log(text.value, $route)
  const data:any = {
    content: text.value,
    email,
    hostId: id,
    name, 
    url: $route.path
  }
  if(props.commentData){
    data.parentCommentId = props.commentData.id
    data.replyUserEmail = props.commentData.email
    data.replyUserName = props.commentData.name
  }
  sendComment(data)
}
</script>
<style lang="less">
.comment-editor {
  width: 100%;
  display: block;
  .text {
    width: 100%;
  }
}
.emjo-wrapper {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 5px;
  width: 410px;
  height: 200px;
  overflow-y: scroll;
  li {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }
}
.editor-action {
  display: flex;
  justify-content: space-between;
}
</style>
