<template>
  <header class="header">
    <div class="container">
      <div class="left_head">
        <!--基础导航-->
        <router-link
          class="navtitle"
          :to="val.path"
          v-for="val in navData"
          :key="val.path"
          >{{ $t(val?.meta?.title) }}</router-link
        >
        <!--动态请求的导航-->
        <router-link
          v-for="val in navList"
          :key="val.id"
          :to="'/page/' + val.path"
        >
          {{ val.name }}
        </router-link>
      </div>
      <div class="right_head">
        <span
          :class="{ active: langueOpen, langueBtn: true }"
          @click="handleChangeLangue"
        >
          <langues-icon />
        </span>
        <span @click="handleChangeTheme">
          <component :is="iconName"></component>
        </span>
        <span
          @click="handleSearch"
          :class="{ active: langueOpen, langueBtn: true }"
        >
          <search-icon />
        </span>
      </div>
    </div>
  </header>
</template>
<script setup lang="ts">
import useStore from "@/stores"
import { storeToRefs } from "pinia"
import { ref, computed, onMounted, defineEmits } from "vue"
import { useRouter } from "vue-router"
import { useI18n } from "vue-i18n"
const { locale } = useI18n({ useScope: "global" })
const i18n = useI18n()
const {
  options: { routes },
} = useRouter()
const store = useStore()
let langueOpen = ref(true)
const { navList } = storeToRefs(store)
const iconName = ref("light-icon")
const emit = defineEmits(["changeLangue"])
const navData = computed(() => {
  return routes.filter((item) => item?.meta?.nav)
})

const init = () => {
  store.getNavData()
}
onMounted(() => {
  init()
})
const handleChangeTheme = () => {
  // 切换:root的class
  document.documentElement.classList.toggle("dark")
  iconName.value = document.documentElement.classList.contains("dark")
    ? "dark-icon"
    : "light-icon"
}
const handleChangeLangue = () => {
  langueOpen.value = !langueOpen.value
  locale.value = langueOpen.value ? "zh" : "en" //使用locale方法 设置语言标识
  emit("changeLangue", {
    locale: locale.value,
  })
}

const handleSearch = () => {
  console.log("点击搜索")
}
</script>
<style lang="less" scoped>
.header {
  height: 64px;
  background: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
  .container {
    height: 100%;
    .display-flex-row-mixin(space-between, center);
    justify-content: space-between;
    .left_head {
      width: 60%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    .right_head {
      width: 150px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
  .langueBtn {
    & > span {
      transition: transform 1s;
    }
    &.active > span {
      transform: rotate(180deg);
    }
  }
  .navtitle {
    margin: 0 10px;
  }
}

a {
  color: var(--color);
  font-size: 20px;
}

a:hover {
  color: #f40a12;
}
</style>
