html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body,html,#app {
  width: 100%;
  height: 100%;
}

#wrapper {
	min-height: 100%;
	background: @bgcolor;
}

.container {
	width: 100%; 
	margin-left: auto;
	margin-right: auto;
	display: flex;
}
.Allkonwledge{
	width: 100%;
	height: 100%;
	display: flex;
}
// .container{
// 	width: 100%;
// 	margin-left: auto;
// 	margin-right: auto;
// }
.commend{
	width: 0%;
	height: 600px;
	margin-right: auto;
    position: sticky;
    top: 20px;
}

@media (min-width: 768px){ //最小宽度768px
	.container {
		width: 768px; 
		background: var(--bg-color);
	}
	.tabBox{
		width: 100%;
	}
	.commend{
		width: 300px;
	}
}
@media (min-width: 990px){ //最小宽度1990px
	.container {
		width: 960px;
		background: var(--bg-color);
	}
	.tabBox{
		margin: 0 auto;
		width: 960px;
		background: var(--bg-color);
	}
	.right_Box{
		width: 280px;
		margin-left: 20px;
		// display: none;
	}
	.commend{
		width: 300px;
	}
}
@media (min-width: 1200px){ //最小宽度1200px
	.container {
		width: 1140px; 
		background: var(--bg-color);
	}
	.tabBox{
		margin: 0 auto;
		width: 1140px;
		height: 100%;
		background: var(--bg-color);
	}
	.left_box{
		width: 840px; 
	}
	.right_Box{
		width: 280px;
		margin-left: 20px;
	}
	.commend{
		width: 300px;
	}
}
// 768
// 960
// 1140