<template>
  <div id="wenzhang" class="tabBox">
    <div class="left_box">
      <!-- 轮播 -->
      <a-carousel
        :after-change="onChange"
        autoplay
        class="img_Box"
        style="width: 840px; height: 300px"
      >
        <div
          v-for="item in wzData"
          :key="item.id"
          class="imgbox"
          style="width: 840px; height: 300px"
        >
          <img :src="item.cover" alt="" style="width: 840px; height: 300px" />
        </div>
      </a-carousel>
      <!-- tab -->
      <div class="tab_box">
        <nav class="nav">
          <router-link to="/article/category/all">所有</router-link>
          <router-link
            v-for="item2 in tabData"
            :key="item2.id"
            :to="'/article/category/' + item2.value"
          >
            {{ item2.label }}
          </router-link>
        </nav>
        <div class="tab_cont2">
          <router-view />
        </div>
      </div>
    </div>
    <!-- 右侧 -->
    <div class="right_Box">
      <!-- {{ 推荐阅读 }} -->
      <base-list title="推荐阅读" :request="store.getReadList">
        <template #item="{ data }">
          {{ data.title }} ·
          {{ _time(data.updateAt) }}
        </template>
      </base-list>
      <!-- 标签 -->
      <base-list title="文章标签" :request="store.getArticleTagList" >
        <template #item="{ data }">
          {{ data.label }}[{{ data.articleCount }}]
        </template>
      </base-list>
>>>>>>> .merge_file_a24100
    </div>
  </div>
</template>
<script setup lang="ts">
import { ref, onMounted, provide } from "vue"
import { storeToRefs } from "pinia"
import useStore from "../../stores"
const activeKey = ref("1")
const store = useStore()
import useFormatTime from "@/utils/useFormatTime"
const { _time } = useFormatTime()
const { wzData, tabData } = storeToRefs(store)


const initWz = () => {
  //文章页 调用的仓库的文章请求
  store.getWzFn()
}

const getTabData = () => {
  store.getTabData() //执行 仓库 tab 的 请求
}

onMounted(() => {
  //挂载部分 调用
  initWz()
  getTabData()
  // initTab_Child()
})
</script>
<style lang="less" scoped>
.ant-layout-content {
  display: flex;
  flex-direction: column;
}
.ant-carousel :deep(.slick-slide) {
  text-align: center;
  height: 300px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel :deep(.slick-slide h3) {
  color: #fff;
}

.tab_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  nav {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
  }
}
a {
  color: var(--color);
}
</style>
