<template>
  <div class="tab_child">
    <!-- <base-scroll @scrollLoad="handleScrollLoad" :loading="loading"> -->
    <template v-if="tabChildData.length && tabChildData[0].length">
      <div
        v-for="val in tabChildData[0]"
        :key="val.id"
        class="item"
        @click="$router.push('/detail/' + val.id)"
      >
      <!-- {{val}} -->
        <div class="item_header">
          {{val.title}}
        </div>
        <div class="item_cont">
          <img :src="val.cover" alt="">
          <div class="item_cont_rig"  style="">
               <eye-outlined class="icon"/>
          </div>
        </div>
      </div>
    </template>
    <template v-else>
      <div>暂无数据</div>
    </template>
  </div>
  <!--</base-scroll> -->
</template>
<script setup lang="ts">
import { watch, reactive, ref } from "vue"
import useStore from "../../stores"
import { useRoute } from "vue-router"
import { storeToRefs } from "pinia"
const type = ref() //定义 需要传值的响应式
const store = useStore()
const $route = useRoute()
const { tabChildData } = storeToRefs(store)

const pageInfo = reactive({
  //定义 分页信息
  page: 1,
  pageSize: 4,
})
watch(
  $route, //监听路由
  (val) => {
    // 切换子路由
    // console.log(val,"这是$route的val");

    type.value = val.params.id
    pageInfo.page = 1
    // store.clearArticleCategoryList()
    store.getTabChild(type.value, {
      ...pageInfo,
    })
  },
  {
    immediate: true,
  }
)
</script>
<style lang="less" scoped>
// .tab_child{
//   background: #ccc;
// }
.item {
  width: 100%;
  height: 300px;
  background: #ccc;
  border-bottom: 1px solid var(--hight-color);
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  .item_header{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
  }
  .item_cont{
    width:100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    img{
      width: 300px;
      height: 220px;
    }
    .item_cont_rig{
      width: 100%;
      height: 300px;
      margin-left: 20px;
      color: #000;
      font-size: 20px;
      z-index: 6;
    }
  }
}
</style>
