<template>
  <div id="guidang" class="tabBox">
    <div class="left_box">
      <div class="header">
        <h2>归档</h2>
        <p>共计5篇</p>
      </div>
      <div class="gd_box">
        <h4>2022</h4>
        <b>August</b>
        <ul id="lb">
          <li class="item" v-for="item in gdData" :key="item.id">
            <p class="active">
              <b>·</b><span class="lf">{{ item.createAt }}</span
              ><span class="rt">{{ item.title }}</span>
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="right_Box">
      <!-- <tj />
      
      <tagvue /> -->
 <!-- {{ 推荐阅读 }} -->
      <base-list title="推荐阅读" :request="store.getReadList" class="bb">
        <template #item="{ data }">
          {{ data.title }} ·
          {{ _time(data.updateAt) }}
        </template>
      </base-list>
      <!-- 标签 -->
      <base-list title="文章分类" :request="store.getArticleTypeList">
        <template #item="{ data }">
          {{ data.label }}<span>共计{{ data.articleCount }}篇文章</span>
        </template>
      </base-list>

    </div>
  </div>
</template>
<script setup lang="ts">
import { onMounted } from "vue"
import { storeToRefs } from "pinia"
import useStore from "../../stores"
const store = useStore()
const { gdData } = storeToRefs(store)

import useFormatTime from "@/utils/useFormatTime"
const { _time } = useFormatTime()

const initgd = () => {
  store.getgd()
}

onMounted(() => {
  initgd()
})
</script>
<style lang="less" scoped>
.header {
  width: 100%;
  height: 150px;
  border: 1px solid #ccc;
  text-align: center;
  background: white;
}
h2 {
  margin-top: 35px;
  font-size: 24px;
}
.gd_box {
  width: 100%;
  height: 500px;
  background: white;
}
h4 {
  font-size: 30px;
  padding-top: 25px;
  padding-left: 25px;
}
#lb {
  line-height: 30px;
  padding-left: 25px;
}
.gd_box b {
  padding-left: 35px;
  font-size: 15px;
}
#lb b {
  font-size: 30px;
  margin-right: 25px;
}
.lf {
  font-size: 18px;
  line-height: 20px;
  margin-right: 15px;
}
.rt {
  font-size: 30px;
}
p{
  color: #000;
}
.active:hover {
  color: red;
  font-size: 30px;
}
</style>
