<template>
  <div class="container">
    <!-- 详情 -->
    <div class="l-container">
      <h1>{{ data.title }}</h1>
      <div
        id="markdown"
        class="markdown"
        ref="markdownEl"
        @click="handleCopyClick"
        v-html="data.content"
      ></div>
      <div>
        <h2>评论</h2>
        <comment />
      </div>
    </div>
    <div class="r-container">
      <base-list title="推荐阅读" :request="store.getReadList">
        <template #item="{ data }">
          {{ data.title }} · {{ _time(data.updateAt) }}
        </template>
      </base-list>
      <!-- 目录 -->
      <div>
        <h2>目录</h2>
        <a-anchor :affix="false">
          <a-anchor-link
            :title="val.text"
            v-for="val in data.toc"
            :href="'#' + val.id"
            :key="val.id"
            :style="{ paddingLeft: val.level * 10 + 'px' }"
          >
          </a-anchor-link>
        </a-anchor>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
interface Data {
  title: string
  content: string
  toc: any[]
}
// import comment from "../../components/baseComment"
// import useFormatTime from "@/utils/useFormatTime"
import { onMounted, reactive, nextTick, provide,watch } from "vue"

import { useRouter } from "vue-router"
import { message } from "ant-design-vue"
import { getDetailData } from "../../services/base"
import { useRoute } from "vue-router"
import copy from "copy-text-to-clipboard"
import hljs from "highlight.js"
import useStore from "../../stores"
const store = useStore()
const $router = useRoute()
// const { _time } = useFormatTime()
console.log($router.params.id,"详情组件 拿到的 id");
const id:any = $router.params.id
const data = reactive<Data>({
  title: "",
  content: "",
  toc: [],
})
// const markdownEl = ref()
provide("id", id)
const init = async () => {
  try {
    const { data: res } = await getDetailData(id)//请求 详情接口
    data.title = res.title
    data.content = res.html.replace(
      /<pre><code/g,
      '<pre><span class="copy-btn">复制</span><code'
    )
    data.toc = JSON.parse(res.toc)
    await nextTick()
    if (document.querySelectorAll("pre code").length) {
      // Array.from(document.querySelectorAll("pre code")).forEach((codeEl) => {
      //   hljs.highlightElement(codeEl) // code dom 里面才有span
      // })
    }
  } catch (error) {
    console.log(error);
    
    // $router.replace("/404")
  }
}
const handleCopyClick = (e) => {
  if (e.target.classList.contains("copy-btn")) {
    copy(e.target.nextElementSibling.innerHTML)
    message.success("复制成功")
  }
}
onMounted(() => {
  init()
})
</script>

<style lang="less">
.l-container{
  width: 100%;
  height: 100%;
  h1:nth-child(1){
    text-align: center;
    font-size: 30px;
  }
  h1:nth-child(2){
    text-align: left;
    font-size: 30px;
  }
  h3,h2{
    text-align: left;
    font-size: 25px;
  }
  ul{
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    li{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
    }
  }
}
</style>
