<template>
  <a-config-provider :locale="locale">
    <div id="wrapper">
      <base-header @changeLangue="handleChangeLangue" />
      <main>
        <router-view />
      </main>
    </div>
  </a-config-provider>
  <!-- <div class="warp"></div> -->
</template>
<script setup lang="ts"></script>
<style lang="less">
#wrapper {
  display: flex;
  flex-direction: column;
  > main {
    width: 100%;
    flex: 1;
    background: var(--bg-color);
  }
}
.tabBox {
  height: 100%;
  display: flex;
  flex-direction: row;
}
</style>
<script setup lang="ts">
import { ref } from "vue"
import zh from "ant-design-vue/es/locale/zh_CN"
import en from "ant-design-vue/es/locale/en_US"
const uiLangues = { zh, en }
const locale = ref(uiLangues["zh"])
const handleChangeLangue = ({ locale: key }) => {
  locale.value = uiLangues[key]
}
</script>
<style lang="less">
// .warp{
//  width: 100%;
// 				height: 100%;
// 				background: rgba(0, 0, 0, .5);
// 				position: fixed;
// 				left: 0;
// 				top: 0;
// 				z-index: 999;
// 				display: block;
// }
</style>
