<template>
  <a-card title="文章标签" style="width: 300px; margin-top: 20px">
    <template #extra></template>
    <div class="tag_box">
      <a-tag color="pink" v-for="item in tagData" :key="item.id">{{
        item.label
      }}</a-tag>
    </div>
  </a-card>
</template>

<script setup lang="ts">
import { ref, onMounted } from "vue"
import { storeToRefs } from "pinia" //仓库升级为 pinia
import useStore from "../../stores"

const activeKey = ref("1")
const store = useStore()
const { tagData } = storeToRefs(store)

onMounted(() => {
  //挂载部分 调用
  store.getTagData() //执行 仓库 推荐 的 请求
})
</script>

<style lang="less">
.tag_box {
  width: 260px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  .ant-tag {
    margin-top: 15px;
  }
}
</style>
