<template>
  <a-card title="推荐阅读" style="width: 300px; margin-top: 20px">
    <template #extra></template>
    <p v-for="item in tjData" :key="item.id">
      {{ item.title }}--{{moment(item.createAt).locale("zh-cn").fromNow() }}
    </p>
  </a-card>
</template>

<script setup lang="ts">
import { ref, onMounted } from "vue"
import { storeToRefs } from "pinia"
import useStore from "../../stores"
import moment from "moment"

const activeKey = ref("1")
const store = useStore()
const { tjData } = storeToRefs(store)

onMounted(() => {
  //挂载部分 调用
  store.getTuiJian() //执行 仓库 推荐 的 请求
})
</script>

<style lang="less">
span {
  color: var(--color);
  font-size: 20px;
}

span:hover {
  color: #f40a12;
}


</style>
