<template>
  <div class="on">
    <div class="newye">
      <div class="left_box">
        <h1>欢迎使用 Wipi Markdown 编辑器</h1>
        <ul>
          <li>·整理知识，学习笔记</li>
          <li>·发布日记，杂文，所见所想</li>
          <li>·撰写发布技术文稿（代码支持）</li>
        </ul>
        <h1 class="hh">什么是 Markdown</h1>
        <p>
          Markdown
          是一种方便记忆，书写的纯文本标记语言，用户可以使用这些标记符号以最小的输入代价生成极
          <br />富表现力的文档：譬如您正在阅读的这份文档，它使用简单的符号标记不同的标题，分割不同的段落，【粗
          <br />体】或者斜体 某些文字。
        </p>
        <h3>1.待办事宜 Todo 列表</h3>
        <input type="checkbox" /> 支持以 PDF 格式导出文稿<br />
        <input type="checkbox" checked /> 新增 Todo 列表功能
        <h3>2.高亮一段代码[^code]</h3>
        <h3>3.绘制表格</h3>
        <table style="border: 1px solid #000">
          <tr>
            <td>项目</td>
            <td>价格</td>
            <td>数量</td>
          </tr>
          <tr>
            <td>计算机</td>
            <td>1600</td>
            <td>5</td>
          </tr>
          <tr>
            <td>手机</td>
            <td>12</td>
            <td>12</td>
          </tr>
          <tr>
            <td>管线</td>
            <td>10</td>
            <td>234</td>
          </tr>
        </table>
        <h3>4.嵌入网址</h3>
      </div>
      <div class="Allcomment">
        <!-- 评论组价 -->
        <comments @inputTextarea="getCommentValue"/>
      </div>

      <div class="right_Box">
        <base-list title="推荐阅读" :request="store.getReadList">
          <template #item="{ data }">
            {{ data.title }} ·
            {{ moment(data.updateAt).startOf("day").fromNow() }}
          </template>
        </base-list>
      </div>
    </div>
    <div id="components-back-top-demo-custom">
    <a-back-top>
      <div class="ant-back-top-inner">T</div>
    </a-back-top>
  </div>
  </div>
</template>

<script setup lang="ts">
import { useRoute } from "vue-router";
import useStore from "@/stores";
import moment from "moment";
import { ref } from 'vue';
const store = useStore()
const route = useRoute()
const data = route.query
const value = ref<string>('');
const commentsValue = ref('')
const getCommentValue = (values:any) =>{
    commentsValue.value = values
    console.log(commentsValue.value);
}

console.log(route.query);
console.log(useRoute().params.id);
</script>

<style lang="less" scoped>
.on {
  width: 100%;
  height: 100%;
  position: relative;
  .back {
    width: 50px;
    height: 50px;
    background: pink;
    color: white;
    outline: none;
    border: none;
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
  }
}
.newye {
  width: 66%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  .top {
    width: 100%;
    height: 50%;
    background: var(--bg-color);
    color:var(--font-ArticalItem-color);
    h1 {
      font-size: 24px;
      color:var(--font-ArticalItem-color);
    }
    .hh {
      border-bottom: 1px solid #eee;
      color:var(--font-ArticalItem-color);
    }
    ul {
      border-bottom: 1px solid #eee;
      border-top: 1px solid #eee;
      color:var(--font-ArticalItem-color);
      padding-left: 20px;
    }
    h3{
      color:var(--font-ArticalItem-color);
    }
    table {
      border: 1px solid var(--font-ArticalItem-color);
      color:var(--font-ArticalItem-color);
    }
    tr {
      color:var(--font-ArticalItem-color);
    }
    td {
      color:var(--font-ArticalItem-color);
    }
  }
  .Articals {
    background: var(--bg-ArticalItem-color);
    .detailContent{
         width: 100%;
         background: orange;
         margin-bottom:10px ;
    }
    .Allcomment{
        width: 100%;
        height: 200px;
        margin-top: 20px;
        text-align: center;
        border: 1px solid #000;
        background: var(--bg-color);
    }
}
  .commend {
    width: 100%;
    height: 25%;
    margin-top: 10px;
  }
}
#components-back-top-demo-custom .ant-back-top {
  bottom: 100px;
}
#components-back-top-demo-custom .ant-back-top-inner {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #ccc;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.ant-card{
  background: var(--bg-color);
}
</style>
